<tr style="background-color: <%= general_expense.company_user_color %>;">
	<td><strong><%= general_expense.expense_name %></strong></td>
	<td><strong><%= number_to_currency(general_expense.cost, strip_insignificant_zeros: true) %></strong></td>
	<td><strong><%= general_expense.date_time.strftime('%d/%m/%y') %></strong></td>
</tr>
